
/*=========*
 * Globals *
 *=========*/

 html, body {
    font-family: 'Montserrat', sans-serif;
 }
 body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
 }

a,
a:focus,
a:hover {
   color: #fff;
}
.section a {
   color: #555;
}
.section h2 {
   margin-bottom: 20px;
}

.btn {
   border-radius: 3px;
   -webkit-transition: 0.3s;
}
.btn-default,
.btn-default:hover,
.btn-default:focus {
   background-color: #fff;
   border: 1px solid #fff;
   color: #333;
   text-shadow: none; /* Prevent inheritence from `body` */
}
.btn-lg {
   border-radius: 3px;
   box-shadow: 0 20px 14px -12px rgba(0, 0, 0, 0.4);
   -webkit-transition: 0.2s;
}
.btn-lg:hover {
   box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.9);
}

.section {
   padding-top: 10%;
   padding-bottom: 10%;

   color: #555;
   text-align: left;
   text-shadow: none;
}

.bg-lt-gray {
   background-color: #eee;
}

/*=============*
 * End Globals *
 *=============*/




/* Navbar */
.nav-spacing {
  padding: 30px;
}
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
   border-bottom: 2px solid transparent;
   color: #fff;
   color: rgba(255,255,255,.75);
   font-size: 16px;
   font-weight: bold;
   padding-right: 0;
   padding-left: 0;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}




/* Header Content */
.header {
   background-image: url(../img/bg.jpg);
   background-size: cover;
   height: 100vh;
}
/* Used this method http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
   to center .section-hero */
.section-hero {
   position: relative;
   top: 42%;
   transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
}





/*======================*
 * js Practice Sections *
 *======================*/


/* s1 - Responsive Panels */
.section-cta {
}
.section-cta .btn {
   margin-top: 30px;
}
.panel {
   border: 1px solid #ccc;
   border-radius: 3px;
   box-shadow: 0 20px 14px -12px rgba(0, 0, 0, 0.2);
   color: #555;
   margin-top: 30px;
   text-align: center;
   text-shadow: none;
}
.panel-heading {
   background-color: #607D8B;
   border-bottom: 1px solid #455A64;
   border-radius: 3px 3px 0 0;
   color: #fff;
   padding: 15px;
}
.panel-body {
   background-color: #fff;
   border-radius: 0 0 3px 3px;
   padding: 50px;
}





 /* s2 - Checklist */
 .section-checklist {
}
 .section-checklist input {
    display: none;
 }
 .section-checklist li.edit span {
    display: none;
 }
 .section-checklist li.edit input {
    display: initial;
 }




/* s3 - Calculator*/
.section-calculator {
}
.section-calculator input {
   background: #eee;
	border: none;
	border-left: 2px solid #eee;
	font-size: 1.5rem;
   margin: 1% 2% 0 2%;
   padding: 20px;
	width: 40%;

	transition: background 0.5s, border-left 0.5s;
}
.section-calculator input:focus {
   background: white;
	border-left: 2px solid #00f28f;
	box-shadow: none;
	outline: none;
}
.section-calculator p {
   position: relative;
   left: -2%;
}
#add-sum {
   margin: 2% 2% 0 2%;
   font-size: 2rem;
}




/* s4 - Pictures */
.section-jsPics {
}
.section-jsPics img {
   background-color: #fff;
   box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.3);
   margin: 5% 0;
   padding: 10px;
   width: 100%;
}
.hide {
   display: none;
}
.blue {
   color: blue;
}




/* S5 - jQuery Tabbed Panel */
.section-tabs ul {
   margin: 0;
   -webkit-padding-start: 0;
}
.section-tabs li {
   display: inline-block;

   background-color: #ddd;
   border-left: 2px solid #ddd;
   border-right: 2px solid #ddd;
   margin-right: -4px;
   padding: 0.5% 4.2%;
}
.section-tabs li.active {
   background-color: #eee;
   border-left: 2px solid #00f28f;
   border-right: 2px solid #eee;
}
.section-tabs .pan {
   display: none;

   background-color: #eee;
   padding: 3%;
}
.section-tabs .pan.active {
   display: block;
}
