/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}





/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}










html, body {
   font-family: 'Montserrat', sans-serif;
}
body {
   color: #fff;
   text-align: center;
   text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.header {
   height: 100vh;
   background-image: url(../img/bg.jpg);
   background-size: cover;
}

.section-hero {
   position: relative;
   top: 42%;
   transform: translateY(-50%);
}
.btn-lg {
   border-radius: 3px;
   box-shadow: 0 20px 14px -12px rgba(0, 0, 0, 0.4);
   -webkit-transition: 0.2s;
}
.btn-lg:hover {
   box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.9);
}






.section {
   padding-top: 10%;
   padding-bottom: 10%;
}
.section-cta {
   background-color: #eee;
}

.zpanel {
   border: 1px solid #ccc;
   border-radius: 3px;
   box-shadow: 0 20px 14px -12px rgba(0, 0, 0, 0.2);
   color: #555;
   margin-top: 30px;
   text-align: center;
   text-shadow: none;
}
.zpanel-heading {
   background-color: #1DE9B6;
   border-bottom: 1px solid #00BFA5;
   border-radius: 3px 3px 0 0;
   padding: 15px;
}
.zpanel-body {
   background-color: #fff;
   border-radius: 0 0 3px 3px;
   padding: 50px;
}
